.page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-color: rgb(255, 255, 255);
      padding: 10px 15px;
      min-height: calc(100% - 45px);
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 240rpx;
  image{
    width: 160rpx;
    height: 160rpx;
  }
}

.header-right {
    position: fixed;
    top: 20px;
    margin-top: -15px;
    right: 16px;
    color: rgb(18, 18, 18);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
	z-index: 9999;
}
.hoqqAL.new-button, .hoqqAL.new-button-small {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
}
.hoqqAL {
    background-color: rgb(179, 141, 74);
    background-image: linear-gradient(112deg, rgb(220, 190, 127) 0%, rgb(179, 141, 74) 100%);
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 44px;
}

.boDnnU {
    text-align: center;
    padding: 20px 30px;
}
.boDnnU img {
    max-width: 50%;
}
.label {
    width: 24px;
    height: 24px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.label img {
    max-width: 80%;
    max-height: 80%;
}
.eIZPEs {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
}
.kRcZiD {
    color: rgb(142, 142, 147);
    font-size: 12px;
}
.kRcZiD a {
    color: rgb(69, 157, 245);
}
/* 填写 */
.input-info{
  .info{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 100rpx;
    border-bottom: 1px solid rgb(232, 232, 232);
    input{
      border: none;
          line-height: 25px;
          height: 25px;
          padding: 0px 10px;
          font-size: 16px;
          width: 100%;
    }
	.uni-input-placeholder{
		color: #c7c7c7;
	}
    .more{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 10%;
      height: 100%;
      .iconfont{
        font-size: 34rpx;
      }
      .mo{
        font-size: 26rpx;
        padding-left: 20rpx;
        margin-left: 10rpx;
        border-left: 2rpx solid #EEEEEE;
      }
    }
  }
}
/* 按钮 */
.btn-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100rpx;
  .hoqqAL {
      background-color: rgb(179, 141, 74);
      background-image: linear-gradient(112deg, rgb(220, 190, 127) 0%, rgb(179, 141, 74) 100%);
      border-radius: 4px;
      font-family: PingFangSC-Semibold;
      font-size: 16px;
      color: rgb(255, 255, 255);
      font-weight: 600;
      border: none;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
      height: 44px;
  }
  .hoqqAL.new-button, .hoqqAL.new-button-large {
      width: 100%;
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80rpx;
    background: linear-gradient(to right,$base,$change-clor);
    border-radius: 100rpx;
    color: #FFFFFF;
    font-size: 28rpx;
    opacity: 0.4;
  }
}
/* 操作 */
.operation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80rpx;
  text{
    font-size: 28rpx;
    color: #555555;
	color: rgb(69, 157, 245);
	    font-size: 14px;
  }
}

/* 其他 */
.other-ways{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80rpx;
  margin-top: 100rpx;
  text{
    font-size: 28rpx;
    color: #999999;
  }
}
.other-ways::after{
  content: "";
  width: 36%;
  height: 2rpx;
  background-color: #EEEEEE;
}
.other-ways::before{
  content: "";
  width: 36%;
  height: 2rpx;
  background-color: #EEEEEE;
}
/* 登录方式 */
.login-way{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200rpx;
  .way{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    image{
      width: 100rpx;
      height: 100rpx;
    }
    text{
      font-size: 28rpx;
      color: #959595;
      margin-top: 20rpx;
    }
  }
}
.max{
	font-size: 32rpx !important;
	font-weight: bold !important;
}