.time-box{
  padding: 20px 50px;
}
.btn1{
  width:100%;
  background-color: #FF7C00; 
  border-radius: 20px; 
  color: #FFF;
  padding: 5px 20px 5px 100px;
  height: auto;
  border: none;
  font-size:14px;
}
.btn2{
  position: relative;
  top: -55px;
  left: -30px;
  padding: 10px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  background-color: #FF8A00;
  border: none;
}
.btn3{
  width: 100%;
  margin-top: 20px;
  /* background-color: #FF8E01; */
}
/deep/ .el-timeline-item__tail{
  border-left: 2px solid #FF7C00;
}
/deep/ .el-timeline-item:first-child{
  height: 80px;
}
/deep/ .el-timeline-item:first-child .el-timeline-item__wrapper{
  padding-left: 0;
}

/deep/ .el-timeline-item:first-child .el-timeline-item__wrapper .el-timeline-item__content{
  position: relative;
}
/deep/ .el-timeline-item__wrapper{
  top: -17px;
}