.page{
	//position: absolute;
	//left: 0;
	//bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.hpiOGL {
    flex-shrink: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 32px;
    background-color: white;
}
.dTFFiD {
    margin: 0px 0px 15px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
}
.kzEmcX {
    position: relative;
    min-height: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 10px;
    font-size: 14px;
}
.kzEmcX > .title {
    font-size: 16px;
    flex: 1 1 0%;
    color: rgb(37, 37, 37);
}
.kzEmcX > .bd {
    flex-basis: 65%;
    color: rgb(142, 142, 147);
}
.kzEmcX:not(:last-child)::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0px;
    transform: scale(1, 0.5);
    background-color: rgb(232, 232, 232);
}
.frDHQL {
    display: inline-block;
    width: 75px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: rgb(69, 157, 245);
    border: 1px solid rgb(69, 157, 245);
    border-radius: 4px;
    background: transparent;
}
.hDhpLC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.hluaBw {
    color: rgb(5, 170, 59);
}
.cEvEJT {
    color: rgb(255, 69, 0);
}
a{
	text-decoration: none;
}
/* 设置列表 */
.setting-list{
	padding: 0 4%;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	margin: 20rpx auto;
	//padding-bottom: 140rpx;
	.list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100rpx;
		border-bottom: 2rpx solid #f6f6f6;
		.title{
			display: flex;
			align-items: center;
			text{
				font-size: 32rpx;
				color: #222222;
			}
		}
		.more-content{
			display: flex;
			align-items: center;
			width: 70%;
			.left{
				text-align: left;
			}
			.right{
				text-align: right;
			}
			.content{
				width: 100%;
				font-size: 28rpx;
				color: #959595;
				span{
					background: #fe3b5c;
					color: #fff;
					border-radius: 10px;
					padding: 3px 10px;
				}
			}
			.more{
				font-size: 24rpx;
				color: #959595;
				margin-left: 20rpx;
			}
			.red{
				color: $base;
			}
		}
	}
}

/* 退出登录 */
.quit-login{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 40px;
	margin: 0px auto;
	background: -webkit-linear-gradient(left, #fe3b0f, #fc603a);
	background: linear-gradient(to right, #fe3b0f, #fc603a);
	border-radius: 35px;
	box-shadow: 0 5px 5px #fe3b0f;
	text{
		//width: 100%;
		color: #f6f6f6;
		font-size: 32rpx;
	}
}
.bottom{
	height: 20rpx;
}